{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "eslint:recommended",
        "prettier",
        "plugin:@typescript-eslint/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module"
    },
    "plugins": ["@typescript-eslint", "import"],
    "env": {
        "amd": true,
        "node": true,
        "es6": true
    },
    "rules": {
        "@typescript-eslint/no-explicit-any": "error",
        "sort-imports": [
            "error",
            {
                "ignoreCase": true,
                "ignoreDeclarationSort": true
            }
        ],
        "import/order": [
            1,
            {
                "groups": ["builtin", "external"],
                "alphabetize": {
                    "order": "asc",
                    "caseInsensitive": true
                }
            }
        ]
    }
}
